<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<!--	<li><a href="/about">About</a></li>-->
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tankut.can@gmail.com">tankut.can@gmail.com</a></li>
	        		<li><a href="https://github.com/tankutcan">github.com/tankutcan</a></li>
				<li><a href="https://scholar.google.ca/citations?user=H5MicWUAAAAJ">Google Scholar profile</a></li>

				</ul>
			</footer>
		</body>
	</html>
